@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url(./style.css);

#instructions-article {
  border-bottom: 1px solid #ccc; /* linha cinza */

}

#instructions-article h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}


.item-instruction { 
  display: flex;
  gap: 1.5rem;
  color: hsl(30, 10%, 34%);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.item-instruction span { 
  color:  hsl(14, 45%, 36%); 
  font-weight: 800;
}

.item-instruction:last-child { 
  margin-bottom: 2rem;
}