
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url(./header.css);
@import url(./preparation_article.css);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

body {
  background-color: #b17f59;
  display: flex;
  align-items: center;
  height: 100vh;
}

.main {
  width: 600px;
  background-color: white;
  margin: 0 auto;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
